<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">News Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" href dropdownToggle (click)="false" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Pick a source
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <div *ngFor="let source of newsSources">
            <a class="dropdown-item" href="#" (click)="renderNews(source.id)">{{source.name}}</a>
          </div>
        </div>
      </li>
      <li class="nav-item form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="showOnlyMyNews">
        <label class="form-check-label" for="defaultCheck1">
          Show only news created by me
        </label>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
